@import "tailwindcss";

/* Add direct CSS class for the font */
.font-bb-modern {
    font-family: var(--font-bb-modern), sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
